<div class="page-header">
  <h1>
    Geographies
    <a href="/geographies/new" class="btn btn-lg btn-success">New Geography</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Geography</th>
        <th>Actions</th>
      </tr>

      <% @geographies.each do |geography| %>
      <tr>
        <td><%= geography.geography %></td>
        <td>
          <a href="/geographies/<%= geography.id %>" class="btn btn-primary">Show</a>
          <a href="/geographies/<%= geography.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_geography/<%= geography.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @geographies, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
