<div class="page-header">
  <h3>Geography #<%= @geography.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Geography</dt>
      <dd><%= @geography.geography %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/geographies" class="btn btn-primary">
        Back
      </a>
      <a href="/geographies/<%= @geography.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_geography/<%= @geography.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Geography has many location_geographies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Location Geographies
      </li>

      <% @geography.location_geographies.each do |location_geography| %>
        <li class="list-group-item">
          <a href="/location_geographies/<%= location_geography.id %>">
            <%= location_geography.geography_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/location_geographies/<%= location_geography.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/location_geographies/<%= location_geography.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location_geography/<%= location_geography.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Geography has many locations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Locations
      </li>

      <% @geography.locations.each do |location| %>
        <li class="list-group-item">
          <a href="/locations/<%= location.id %>">
            <%= location.city_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/locations/<%= location.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/locations/<%= location.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location/<%= location.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
