<div class="page-header">
  <h3>Activity #<%= @activity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Activity</dt>
      <dd><%= @activity.activity %></dd>

      <dt>Category</dt>
      <dd><%= @activity.category %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/activities" class="btn btn-primary">
        Back
      </a>
      <a href="/activities/<%= @activity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_activity/<%= @activity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Activity has many location_features -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Location Features
      </li>

      <% @activity.location_features.each do |location_activity| %>
        <li class="list-group-item">
          <a href="/location_activities/<%= location_activity.id %>">
            <%= location_activity.location_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/location_activities/<%= location_activity.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/location_activities/<%= location_activity.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location_activity/<%= location_activity.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_location_activity" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :city_name), :class => "form-control") %>
      </div>

      <!-- Label and input for activity_id -->
      <input type="hidden" name="activity_id" value="<%= @activity.id %>">

      <!-- Label and input for feature_rating -->
      <div class="form-group">
        <label for="feature_rating" class="control-label">
          Feature rating
        </label>

        <input type="text" id="feature_rating" name="feature_rating" placeholder="Feature rating" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Location Activity
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Activity has many cities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cities
      </li>

      <% @activity.cities.each do |location| %>
        <li class="list-group-item">
          <a href="/locations/<%= location.id %>">
            <%= location.city_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/locations/<%= location.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/locations/<%= location.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location/<%= location.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
