<!-- Validation failure messages -->
<% if @location_weather.errors.any? %>
  <% @location_weather.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Location Weather #<%= @location_weather.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_location_weather/<%= @location_weather.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :city_name, @location_weather.location_id), :class => "form-control") %>
      </div>

      <!-- Label and input for month -->
      <div class="form-group">
        <label for="month" class="control-label">
          Month
        </label>

        <input type="text" id="month" name="month" placeholder="Month" class="form-control" value="<%= @location_weather.month %>">
      </div>

      <!-- Label and input for temperature -->
      <div class="form-group">
        <label for="temperature" class="control-label">
          Temperature
        </label>

        <input type="text" id="temperature" name="temperature" placeholder="Temperature" class="form-control" value="<%= @location_weather.temperature %>">
      </div>

      <!-- Label and input for weather -->
      <div class="form-group">
        <label for="weather" class="control-label">
          Weather
        </label>

        <input type="text" id="weather" name="weather" placeholder="Weather" class="form-control" value="<%= @location_weather.weather %>">
      </div>

      <button class="btn btn-warning">
        Update Location Weather
      </button>
      or
      <a href="/location_weathers/<%= @location_weather.id %>">Cancel</a>
    </form>
  </div>
</div>
