<div class="page-header">
  <h3>Location #<%= @location.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City name</dt>
      <dd><%= @location.city_name %></dd>

      <dt>State name</dt>
      <dd><%= @location.state_name %></dd>

      <dt>Country name</dt>
      <dd><%= @location.country_name %></dd>

      <dt>Lat</dt>
      <dd><%= @location.lat %></dd>

      <dt>Long</dt>
      <dd><%= @location.long %></dd>

      <dt>Image</dt>
      <dd><%= @location.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/locations" class="btn btn-primary">
        Back
      </a>
      <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Location has many location_weathers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Location Weathers
      </li>

      <% @location.location_weathers.each do |location_weather| %>
        <li class="list-group-item">
          <a href="/location_weathers/<%= location_weather.id %>">
            <%= location_weather.location_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/location_weathers/<%= location_weather.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/location_weathers/<%= location_weather.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location_weather/<%= location_weather.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_location_weather" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <input type="hidden" name="location_id" value="<%= @location.id %>">

      <!-- Label and input for month -->
      <div class="form-group">
        <label for="month" class="control-label">
          Month
        </label>

        <input type="text" id="month" name="month" placeholder="Month" class="form-control" value="">
      </div>

      <!-- Label and input for temperature -->
      <div class="form-group">
        <label for="temperature" class="control-label">
          Temperature
        </label>

        <input type="text" id="temperature" name="temperature" placeholder="Temperature" class="form-control" value="">
      </div>

      <!-- Label and input for weather -->
      <div class="form-group">
        <label for="weather" class="control-label">
          Weather
        </label>

        <input type="text" id="weather" name="weather" placeholder="Weather" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Location Weather
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Location has many location_features -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Location Features
      </li>

      <% @location.location_features.each do |location_activity| %>
        <li class="list-group-item">
          <a href="/location_activities/<%= location_activity.id %>">
            <%= location_activity.city_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/location_activities/<%= location_activity.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/location_activities/<%= location_activity.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location_activity/<%= location_activity.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_location_activity" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <%= select_tag(:city_id, options_from_collection_for_select(Location.all, :id, :city_name), :class => "form-control") %>
      </div>

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity), :class => "form-control") %>
      </div>

      <!-- Label and input for feature_rating -->
      <div class="form-group">
        <label for="feature_rating" class="control-label">
          Feature rating
        </label>

        <input type="text" id="feature_rating" name="feature_rating" placeholder="Feature rating" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Location Activity
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Location has many location_geographies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Location Geographies
      </li>

      <% @location.location_geographies.each do |location_geography| %>
        <li class="list-group-item">
          <a href="/location_geographies/<%= location_geography.id %>">
            <%= location_geography.geography_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/location_geographies/<%= location_geography.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/location_geographies/<%= location_geography.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location_geography/<%= location_geography.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_location_geography" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for geography_id -->
      <div class="form-group">
        <label for="geography_id" class="control-label">
          Geography
        </label>

        <%= select_tag(:geography_id, options_from_collection_for_select(Geography.all, :id, :geography), :class => "form-control") %>
      </div>

      <!-- Label and input for location_id -->
      <input type="hidden" name="location_id" value="<%= @location.id %>">

      <button class="btn btn-block btn-success">
        Create Location Geography
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Location has many features -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Features
      </li>

      <% @location.features.each do |activity| %>
        <li class="list-group-item">
          <a href="/activities/<%= activity.id %>">
            <%= activity.activity %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/activities/<%= activity.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Location has many geographies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Geographies
      </li>

      <% @location.geographies.each do |geography| %>
        <li class="list-group-item">
          <a href="/geographies/<%= geography.id %>">
            <%= geography.geography %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/geographies/<%= geography.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/geographies/<%= geography.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_geography/<%= geography.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
